@{
    ViewBag.Title = "About FS Personal Information Manager";
}
<div>&nbsp;</div>
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">

    <p>This application is used to manage your own lists of TV Shows, Books, and Movies.  You can use this app to easily keep track of what you have watched in one spot. You can also use this app to record future releases so you can always be on top of your favorite TV Shows, Books, and Movies.</p>

    <p>This application was developed as a reference application by Frank Stadler to demonstrate the creation of a small MVC / Entity Framework web application.</p>

    <p>The GitHub repo also includes a sample user guide and technical solution documention. Please refer to these documents for more detail (and for an example of technical writing appropriate for such an application).</p>

</div>
<div> </div>

@Html.ActionLink("Special Feature - TV Shows as jQuery Datagrid", "IndexDataTable", "Shows")
