<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Sorry, an error occurred.  We have logged the details and we will work to resolve the issue.</h2>
    </hgroup>
</body>
</html>
